<div class="close" (click)="onClose()"><i class="fa-solid fa-xmark fa-2xl"></i></div>
<div class="container">

  <swiper [config]="config">
    <div class="swiper-wrapper">
      <div *ngFor="let item of images" class="swiper-slide"><img [src]="item" alt="img 1"></div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
  </swiper>
  <div class="swiper-button-next" style="color: white;"></div>
  <div class="swiper-button-prev" style="color: white;"></div>

</div>
