<div class="container">
  <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img src="https://img.yad2.co.il/Pic/202207/21/2_1/o/y2_1_06870_20220721121121.jpeg" alt=""></div>
    <div class="swiper-slide"><img src="https://img.yad2.co.il/Pic/202207/21/2_1/o/y2_5_07913_20220721121134.jpeg" alt=""></div>
    <div class="swiper-slide"><img src="https://img.yad2.co.il/Pic/202207/21/2_1/o/y2_1_06870_20220721121121.jpeg" alt=""></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

</div>
